.kss-style {
  color: #444444;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.kss-style :link,
.kss-style a {
  color: #111111;
  font-weight: normal;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}
.kss-style :link:visited,
.kss-style a:visited {
  color: #111111;
}
.kss-style :link:hover,
.kss-style a:hover,
.kss-style :link:focus,
.kss-style a:focus {
  color: #2272f7;
}
.kss-style :link:active,
.kss-style a:active {
  color: #faa700;
}
.kss-style :link:hover,
.kss-style a:hover,
.kss-style :link:active,
.kss-style a:active {
  outline: 0;
}
.kss-style p {
  margin: 12px 0 24px 0;
}
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  margin: 24px 0 0 0;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  color: #111111;
  line-height: 1.15em;
  font-weight: bold;
}
.kss-style h1 a,
.kss-style h2 a,
.kss-style h3 a,
.kss-style h4 a,
.kss-style h5 a,
.kss-style h6 a,
.kss-style h1 :link,
.kss-style h2 :link,
.kss-style h3 :link,
.kss-style h4 :link,
.kss-style h5 :link,
.kss-style h6 :link {
  color: #111111;
  font-weight: bold;
}
.kss-style h1 {
  font-size: 40px;
}
.kss-style h2 {
  font-size: 36px;
}
.kss-style h3 {
  font-size: 34px;
}
.kss-style h4 {
  font-size: 32px;
}
.kss-style h5 {
  font-size: 30px;
}
.kss-style h6 {
  font-size: 28px;
}
.kss-style blockquote {
  color: #666666;
  margin: 0;
  padding-left: 24px;
  border-left: 0.5em #d9d9d9 solid;
}
.kss-style hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #e6e6e6;
  margin: 24px 0;
  padding: 0;
}
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp {
  font-family: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
  color: #2b2b2b;
  font-size: 14px;
}
.kss-style pre {
  white-space: pre;
  overflow: scroll;
}
.kss-style ins {
  color: #111111;
  background: #ff9;
  text-decoration: none;
}
.kss-style mark {
  color: #111111;
  background: #ff0;
  font-weight: bold;
}
.kss-style sub,
.kss-style sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.kss-style sup {
  top: -0.5em;
}
.kss-style sub {
  bottom: -0.25em;
}
.kss-style ul,
.kss-style ol {
  margin: 24px 0;
  padding: 0 0 0 24px;
}
.kss-style li p:last-child {
  margin: 0;
}
.kss-style dd {
  margin: 0 0 0 24px;
}
.kss-style img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.kss-style table {
  border-collapse: collapse;
  border-spacing: 0;
}
.kss-style td {
  vertical-align: top;
}
@media print {
  .kss-style a,
  .kss-style a:visited {
    text-decoration: underline;
  }
  .kss-style hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  .kss-style a[href]:after {
    content: " (" attr(href) ")";
  }
  .kss-style a[href^="javascript:"]:after,
  .kss-style a[href^="#"]:after {
    content: "";
  }
  .kss-style abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .kss-style pre,
  .kss-style blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  .kss-style tr,
  .kss-style img {
    page-break-inside: avoid;
  }
  .kss-style img {
    max-width: 100% !important;
  }
  .kss-style p,
  .kss-style h2,
  .kss-style h3 {
    orphans: 3;
    widows: 3;
  }
  .kss-style h2,
  .kss-style h3 {
    page-break-after: avoid;
  }
}
#kss-node {
  margin: 0;
  background: #fff;
}
#kss-node .kss-header {
  padding: 20px 20px 16px;
  position: fixed;
  background-color: #222;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1002;
}
#kss-node .kss-doc-title {
  padding-left: 40px;
  color: #fff;
  font-size: 25px;
}
#kss-node .kss-main {
  margin: 0;
  padding: 80px 20px 20px;
}
#kss-node .kss-sidebar {
  height: 100%;
  overflow: auto;
  padding: 80px 20px 20px;
  background-color: #eee;
  background-image: url(noise-low.png);
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
#kss-node.kss-offscreen {
  position: relative;
  width: 100%;
}
#kss-node.kss-offscreen .kss-offscreen__inner {
  transition: all .3s ease;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#kss-node.kss-offscreen .kss-offscreen__item {
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  top: 0;
  bottom: 0;
  left: -100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1001;
  width: 80%;
}
@media screen and (min-width: 607px) {
  #kss-node.kss-offscreen .kss-offscreen__item {
    width: 20%;
  }
}
#kss-node.kss-offscreen .kss-offscreen__toggle {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22px;
  left: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('toggle-icon.svg');
}
#kss-node.kss-offscreen .kss-offscreen__toggle.is-active {
  background-position: 100% 0;
}
#kss-node.kss-offscreen.is-moved {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}
#kss-node.kss-offscreen.is-moved .kss-offscreen__inner {
  left: 80%;
  overflow: visible;
}
@media screen and (min-width: 607px) {
  #kss-node.kss-offscreen.is-moved .kss-offscreen__inner {
    left: 20%;
    width: 80%;
  }
}
#kss-node.kss-offscreen.is-moved .kss-offscreen__item {
  left: 0;
}
#kss-node .kss-doc-title {
  margin: 0;
}
#kss-node .kss-nav__menu {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  list-style-type: none;
}
#kss-node .kss-nav__menu-item {
  display: list-item;
  padding: 2px 0;
}
#kss-node .kss-nav__menu-child {
  display: block;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#kss-node .kss-nav__ref {
  color: #333;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
#kss-node .kss-nav__ref-child {
  font-weight: normal;
}
#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */
}
#kss-node .kss-section {
  margin-bottom: 48px;
}
#kss-node .kss-title {
  margin-bottom: 0;
}
#kss-node .kss-title__ref {
  color: #ccc;
}
#kss-node .kss-parameters {
  display: table;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#kss-node .kss-parameters__item {
  display: table-row;
}
#kss-node .kss-parameters__name {
  display: table-cell;
  padding-right: 20px;
}
#kss-node .kss-parameters__description {
  display: table-cell;
}
#kss-node .kss-modifier__wrapper {
  border: 1px solid #ccc;
  padding: 10px;
}
#kss-node .kss-modifier__heading {
  margin: -10px -10px 10px -10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  font-weight: bold;
}
#kss-node .kss-modifier__default-name {
  font-weight: bold;
  margin-bottom: 12px;
}
#kss-node .kss-modifier__name {
  float: left;
  padding-right: 10px;
  font-weight: bold;
}
#kss-node .kss-modifier__description {
  margin-bottom: 12px;
}
#kss-node .kss-modifier__example {
  clear: left;
  overflow: hidden;
  padding: 1px 0;
  position: relative;
  margin: 0 0 23px 0;
}
#kss-node .kss-modifier__example:last-child {
  margin: 0;
}
#kss-node .kss-markup {
  margin: -1px 0 24px 0;
  border: 1px solid #999;
}
#kss-node .kss-markup pre {
  margin: 0;
}
#kss-node .kss-github {
  display: none;
}
@media screen and (min-width: 501px) {
  #kss-node .kss-github {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
#kss-node .kss-github img {
  border: 0;
}
#kss-node .pln {
  color: #000000;
}
#kss-node .str {
  color: #008800;
}
#kss-node .kwd {
  color: #000088;
}
#kss-node .com {
  color: #880000;
}
#kss-node .typ {
  color: #660066;
}
#kss-node .lit {
  color: #006666;
}
#kss-node .pun,
#kss-node .opn,
#kss-node .clo {
  color: #666600;
}
#kss-node .tag {
  color: #000088;
}
#kss-node .atn {
  color: #660066;
}
#kss-node .atv {
  color: #008800;
}
#kss-node .dec,
#kss-node .var {
  color: #660066;
}
#kss-node .fun {
  color: #ff0000;
}
@media print, projection {
  #kss-node .str {
    color: #006600;
  }
  #kss-node .kwd {
    color: #006;
    font-weight: bold;
  }
  #kss-node .com {
    color: #600;
    font-style: italic;
  }
  #kss-node .typ {
    color: #404;
    font-weight: bold;
  }
  #kss-node .lit {
    color: #004444;
  }
  #kss-node .pun,
  #kss-node .opn,
  #kss-node .clo {
    color: #444400;
  }
  #kss-node .tag {
    color: #006;
    font-weight: bold;
  }
  #kss-node .atn {
    color: #440044;
  }
  #kss-node .atv {
    color: #006600;
  }
}
#kss-node ol.linenums {
  margin: 0;
  padding: 0 0 3px 0;
  list-style-type: none;
  /* Alternate shading for lines */
}
#kss-node ol.linenums li {
  min-height: 24px;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  background: #fff;
}
#kss-node ol.linenums li:first-child {
  padding-top: 3px;
}
#kss-node ol.linenums li.L0,
#kss-node ol.linenums li.L2,
#kss-node ol.linenums li.L4,
#kss-node ol.linenums li.L6,
#kss-node ol.linenums li.L8 {
  background: #fcfcfc;
}
